<!DOCTYPE html>
<html lang="en">
<head>
    {{> favicon}}
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://ai4chat-files.s3.amazonaws.com/images/airbrush/image-1737741097321.jpg">
    {{{categoryIdsScript}}}
    
    {{#if category.metaTags}}
        {{{category.metaTags}}}
    {{else}}
        <title>Airbrush - Best AI Art, Image & Stock Photo Generator</title>
        <meta name="description" content="Create amazing 3D images with Airbrush AI">
        <meta property="og:title" content="Airbrush - Best AI Art, Image & Stock Photo Generator">
        <meta property="og:description" content="Create amazing 3D images with Airbrush AI">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://ai4chat-files.s3.amazonaws.com/images/airbrush/image-1737741097321.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Airbrush - Best AI Art, Image & Stock Photo Generator">
        <meta name="twitter:description" content="Create amazing 3D images with Airbrush AI">
        <meta name="twitter:image" content="https://ai4chat-files.s3.amazonaws.com/images/airbrush/image-1737741097321.jpg">
    {{/if}}
    <script src="/js/config.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>